@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0c0f14;
  --foreground: #f4f4f5;
}

html {
  color-scheme: dark;
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
